Author: Vedika Srivastava<br>
Date created: 05/04/2021<br>
Title: Bayes_ Decision_Theory

In [1]:
#importing libraries
import pandas as pd
import numpy as np

In [2]:
#define dataset
data = {'X1': [3.393533211,
               3.110073483,
               1.343808831,
               3.582294042,
               2.280362439,
               7.423436942,
               5.745051997,
               9.172168622,
               7.792783481,
               7.939820817],
       'X2' : [2.331273381,
               1.781539638,
               3.368360954,
               4.67917911,
               2.866990263,
               4.696522875,
               3.533989803,
               2.511101045,
               3.424088941,
               0.791637231],
       'Y' : [0,0,0,0,0,1,1,1,1,1]}

df = pd.DataFrame(data, columns = ['X1','X2','Y'])

df

         X1        X2  Y
0  3.393533  2.331273  0
1  3.110073  1.781540  0
2  1.343809  3.368361  0
3  3.582294  4.679179  0
4  2.280362  2.866990  0
5  7.423437  4.696523  1
6  5.745052  3.533990  1
7  9.172169  2.511101  1
8  7.792783  3.424089  1
9  7.939821  0.791637  1

In [45]:
#calculate mean
class_y = df['Y'].unique()
mean = []
for c in class_y:
    d = df[df.Y == c]
    mean.append((d['X1'].sum() + d['X2'].sum())/(len(d)*2))

print("Class means are = ",mean)

Class means are =  [2.8737415351999998, 5.303060175400001]

In [41]:
#calculate variance
class_y = df['Y'].unique()
variance = []
for c in class_y:
    ite =  0
    d = df[df.Y == c].reset_index()
    for i in range(len(d)):
        ite += ((d.X1[i]-mean[c])**2) + ((d.X2[i]-mean[c])**2)
    variance.append(ite/(len(d)*2))  
    
print("Class variances are = ", variance)

Class variances are =  [0.8512351130060838, 6.798858654185379]

In [62]:
#prior probability
"""
From table we can conclude that P(w1) = P(w2)
Therefore Prior Probability will be 0.5
"""
prior = 0.5

In [47]:
#likelihood / class conditional probability
def likelihood(x,m,v):
    cc = []
    dem = (2*np.pi*v)**0.5
    for val in x:
        num = np.exp((-(val-m)**2)/(2*v))
        cc.append(num/dem)
    return cc

In [54]:
X1_class1 = likelihood(df.X1,mean[0],variance[0])
X1_class2 = likelihood(df.X1,mean[1],variance[1])

X2_class1 = likelihood(df.X2,mean[0],variance[0])
X2_class2 = likelihood(df.X2,mean[1],variance[1])


print("Class conditional probabilities are\nP(X1|class1) =",X1_class1,"\n\nP(X1|class2) =",X1_class2,
      "\n\nP(X2|class1) =",X2_class1,"\n\nP(X2|class2) =",X2_class2)

Class conditional probabilities are
P(X1|class1) = [0.36894567138045153, 0.4184440919944445, 0.10934074802158887, 0.3219696030373117, 0.35161393830508253, 2.267010783577602e-06, 0.003410046245455252, 3.282113577161864e-11, 2.9061494557021424e-07, 1.2268421385398324e-07]

P(X1|class2) = [0.11701294440533655, 0.10742179002256064, 0.04830924701074173, 0.12306092743421722, 0.0781406411522922, 0.10992472475797818, 0.15081780055136057, 0.05088251147590569, 0.09698675880793388, 0.09175663712978083]

P(X2|class1) = [0.3637622029020722, 0.21457504600653032, 0.37452112312323754, 0.06373396952955297, 0.4323880410072851, 0.06142122960606601, 0.33471993464653477, 0.4002561525584194, 0.3619270507232786, 0.03388448233147522]

P(X2|class2) = [0.07991424519395429, 0.06146329697452362, 0.11618318041749036, 0.1486827571527904, 0.09889023356424786, 0.14891628120387196, 0.12154473173492077, 0.08624385045419959, 0.1180133533859082, 0.03424870166358048]

In [63]:
#posterior probabilities
post_class1 = np.multiply(X1_class1,X2_class1) * prior
post_class2 = np.multiply(X1_class2,X2_class2) * prior

print("Posterior probabilities of '0' are = \n",post_class1)
print("\nPosterior probabilities of '1' are = \n",post_class2)

Posterior probabilities of '0' are =
 [6.71042451e-02 4.48938301e-02 2.04752099e-02 1.02602004e-02
 7.60168310e-02 6.96212949e-08 5.70705228e-04 6.56843076e-12
 5.25907051e-08 2.07854554e-09]

Posterior probabilities of '1' are =
 [0.0046755  0.00330125 0.00280636 0.00914852 0.00386367 0.00818479
 0.00916555 0.00219415 0.00572287 0.00157127]

In [64]:
#decision rule / prediction
for i in range(len(df)):
    if (post_class1[i]>post_class2[i]):
        print('0')
    else:
        print('1')

0
0
0
0
0
1
1
1
1
1

# <center>Bayes' Classification - Function</center>

In [96]:
 def classify(df):
        prior = 0.5
        def mean_c():
            mean = []
            class_y = df['Y'].unique()
            for c in class_y:
                d = df[df.Y == c]
                mean.append((d['X1'].sum() + d['X2'].sum())/(len(d)*2))
            return mean
        
        def variance_c():
            variance = []
            class_y = df['Y'].unique()
            for c in class_y:
                ite =  0
                d = df[df.Y == c].reset_index()
                for i in range(len(d)):
                    ite += ((d.X1[i]-means[c])**2) + ((d.X2[i]-means[c])**2)
                variance.append(ite/(len(d)*2))
            return variance
        
        def likelihood(x,m,v):
            cc = []
            dem = (2*np.pi*v)**0.5
            for val in x:
                num = np.exp((-(val-m)**2)/(2*v))
                cc.append(num/dem)
            return cc
        
        def posterior():
            mean = mean_c()
            variance = variance_c()
            
            X1_class1 = likelihood(df.X1,mean[0],variance[0])
            X1_class2 = likelihood(df.X1,mean[1],variance[1])

            X2_class1 = likelihood(df.X2,mean[0],variance[0])
            X2_class2 = likelihood(df.X2,mean[1],variance[1])
            
            post_class1 = np.multiply(X1_class1,X2_class1) * prior
            post_class2 = np.multiply(X1_class2,X2_class2) * prior
            return (post_class1,post_class2)
            
        predict=[]
        post_class1,post_class2 = posterior()
        for i in range(len(df)):
            if (post_class1[i]>post_class2[i]):
                predict.append(0)
            else:
                predict.append(1)
        
        return predict

In [116]:
def display_output(p):
    out = pd.DataFrame({"Original Output" : df.Y, "Predicted Output" : p},columns = ['Original Output','Predicted Output'],)
    print(out.to_string(index=False))

# <center>Final Output</center>

In [66]:
data = {'X1': [3.393533211,
               3.110073483,
               1.343808831,
               3.582294042,
               2.280362439,
               7.423436942,
               5.745051997,
               9.172168622,
               7.792783481,
               7.939820817],
       'X2' : [2.331273381,
               1.781539638,
               3.368360954,
               4.67917911,
               2.866990263,
               4.696522875,
               3.533989803,
               2.511101045,
               3.424088941,
               0.791637231],
       'Y' : [0,0,0,0,0,1,1,1,1,1]}

df = pd.DataFrame(data, columns = ['X1','X2','Y'])

df

         X1        X2  Y
0  3.393533  2.331273  0
1  3.110073  1.781540  0
2  1.343809  3.368361  0
3  3.582294  4.679179  0
4  2.280362  2.866990  0
5  7.423437  4.696523  1
6  5.745052  3.533990  1
7  9.172169  2.511101  1
8  7.792783  3.424089  1
9  7.939821  0.791637  1

In [117]:
display_output(classify(df))

 Original Output  Predicted Output
               0                 0
               0                 0
               0                 0
               0                 0
               0                 0
               1                 1
               1                 1
               1                 1
               1                 1
               1                 1